.btn-primary {
    margin-bottom: 30px;
}

.nav button a {
    text-decoration: none;
}

i {
    margin-right: .3em;
}

.formulario div:last-child {
    padding-bottom: 30px
}


.validity-cep {
    color: firebrick;
    display: none;
  }